body {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::after {
    background: url("assets/background.jpg") no-repeat top center;
    background-size: cover;
    height: 100vh;
    content: "";
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.home {
    flex: 1;
    display: flex;
    margin-top: 30vh;
    flex-direction: column;
    flex-shrink: 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:focus,
.btn-primary:visited {
    background-color: #1c687d !important;
    border-width: 0 !important;
    border-radius: 20px !important;
    width: 12vw !important;
    min-width: 150px !important;
    outline: none !important;
    box-shadow: none !important;
}

.footer {
    position: fixed;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    color: gray;
    font-weight: 200;
    font-size: 0.8em;
}

.content {
    margin: auto;
    margin-top: 2vh;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
    width: 75%;
    align-self: center;
    background-color: #ffffff;
    border-radius: 20px;
    opacity: 0.85;
    margin-bottom: 80px;
}

.navbar-logo {
    color: #165565 !important;
    font-weight: 650;
}

.photo {
    width: 125px;
    height: 125px;
    margin-left: auto;
    margin-right: 3vw;
    border-radius: 50%;
    object-fit: cover;
    filter: gray;
    -webkit-filter: grayscale(1);
}

.photo:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

@media screen and (max-width: 600px) {
    .hide {
        display: none;
    }

    .navbar-center {
        left: auto;
    }

    .link-input {
        width: auto;
        padding: 5px 5px;
    }
}
